In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Variables and Objects

A Python variable is a *symbolic name* that is a reference or pointer to an *object*. Once an object is assigned to a variable, you can refer to the object by that name. But the data itself is still contained within the object.

In [4]:
a = 1

This assignment creates an *integer object* with the value 1 and assigns the *variable* 'a' to point to that object.

Bahasa gampangnya gini.

1. Kita buat sebuah object.
2. Object ini adalah sebuah bilangan bulat (integer) bernilai 1.
3. Terus pas kita mau simpen object yang kita buat ini di memori sistem, kita memberikan dia nama 'a'.
4. Biar pas kita mau pake lagi object ini, kita tinggal panggil nama si 'a'.

In [2]:
type(a)

int

By using `type(..)` we can know that the object that variable 'a' points, is an integer.

In [5]:
a = a + 2

By running the above cell, we *modify* the object that we used to call 'a'. We add it by '2'. So now, the value of this object is '3'. 

Then, this object, an integer whose value is 3, is re-assigned to variable 'a'.

So, now, the variable 'a' points to an object whose value is 3.

### A few examples of Data Types

Each 'object' has its own types. Like what we saw earlier, the object '1' is an integer. Python has different data types that allows us to do different things.

In [7]:
### string, which is usually used to process text data
teks_contoh = 'abcdefg'

In [13]:
### list, which is used to store other objects and give them order (urutan berpengaruh)
list_contoh = [1,2,3,4,5,6]

List di atas beranggotakan bilangan-bilangan bulat

In [8]:
list_contoh_2 = ['a', 'b', 'c', 'd', 'e']

In [12]:
list_contoh_2[5]

IndexError: list index out of range

In [9]:
list_contoh[0]

1

In [10]:
list_contoh[1]

2

Dan kita bisa 'memanggil' anggota-anggota dari list itu menurut INDEX nya (posisi).

Selain itu, kita juga bisa menambahkan sesuatu ke dalam list yang telah dibuat

In [16]:
list_contoh.append(10)

In [17]:
list_contoh

[1, 2, 3, 4, 5, 6, 8, 10]

Kita menambahkan angka '8' untuk dimasukkan ke dalam list_contoh. 

Object 'list' yang direfer oleh variabel `list_contoh` pun berubah. Ini tujuannya ada variabel, biar kita bisa ngecek nilai 'terkini' dari masing-masing object yang telah kita buat di masa lampau. Biar kita tau perubahannya. Dan ga usah ngebuat object tersebut dari 0 lagi. Tinggal dipanggil pake 1 nama yang konsisten aja.

In [18]:
### list can have duplicates in them
list_contoh_2 = [1,1,1,1,1,1]

In [14]:
### set, himpunan. Berbeda dari list, set nggak boleh ada komponen duplikat. 
### tapi, di dalam himpunan, tidak ada urutan

In [23]:
set_contoh = set(['d','i','b','i','m','b','i','n','g'])

In [24]:
set_contoh

{'b', 'd', 'g', 'i', 'm', 'n'}

Another important data type is called dictionary in which we can store KEYS and Values.

Waduh, dictionary apa lagi tuh.

Udah, anggep aja 'kamus'. 

Di kamus kan ada katanya, dan ada definisinya. 

Sama, dictionary juga begitu cara kerjanya. Begini.

In [36]:
identitas = {
    'nama':'eren yeager',
    'tempat lahir':'pulau paradis',
    'jenis kelamin':'laki-laki',
    'angkatan':104,
    'jurusan':'survey corps'
}

'Nama', 'tempat lahir', 'jenis kelamin', itu ibarat 'kata-kata' dalam kamus. Kita sebutnya KEYS

Sedangkan 'eren yeager', 'pulau paradis', dll, itu adalah VALUES. Itu adalah 'definisi' dari 'kata-kata di dalam kamus', analoginya begitu kira-kira

In [18]:
identitas['nama']

'eren yeager'

In [19]:
identitas['angkatan']

104

In [20]:
identitas['jurusan']

'survey corps'

Kegunaannya? Banyak...contohnya bgini.

In [29]:
barang_dagangan = {
    'ibox':['iphone 13','macbook pro', 'mac mini', 'macbook air'],
    'erafone':['xiaomi 11', 'redmi note 11', 'realme neo gt 2']
}

In [34]:
barang_di_ibox = barang_dagangan['ibox']
print(barang_di_ibox)

['iphone 13', 'macbook pro', 'mac mini', 'macbook air']

In [35]:
barang_di_ibox[2]

'mac mini'

In [41]:
list_gede = [identitas, barang_dagangan]

In [42]:
type(list_gede)

list

In [44]:
list_gede[1]['ibox'][2]

'mac mini'

In [46]:
barang_dagangan['ibox'].append('Samsung')

In [47]:
barang_dagangan

{'ibox': ['iphone 13', 'macbook pro', 'mac mini', 'macbook air', 'Samsung'],
 'erafone': ['xiaomi 11', 'redmi note 11', 'realme neo gt 2']}

### Printing and its Confusion

In jupyter notebook, printing an object might cause confusion to a lot of newbies.

If you don't use `print` function, it will automatically output the last line of code

In [23]:
1+1

2

In [24]:
1+2
2+3
3+4

7

If you want to output everything..then you have to write `print`

In [25]:
print(1+2)
2+3
print(3+4)

3
7

Look, that one in the middle, that does not have `print`, did not get 'printed'

### Methods and Functions

Simply said, functions are a set of instruction which are wrapped by a name, so we can call it anytime, and it saved us from writing everything from scratch.

In [48]:
len(list_contoh)

8

Some functions are built in, like `len`. Len will measure the length of the input object, and give us the 'length' of that object.

In [49]:
list_contoh

[1, 2, 3, 4, 5, 6, 8, 10]

See? There are indeed 7 members in the `list_contoh`. So, the length is 7. So, the function `len` outputs a value of 7, when we give `list_contoh` as the input.

Some functions can also be custom-made. Most of us will do this in our career, so get used to write functions!

In [50]:
def luas_keliling(panjang, lebar):
    luas = panjang * lebar
    keliling = 2*(panjang+lebar)
    
    return luas, keliling

Let's study this function.

This function takes in two inputs. 

- Input pertama, itu diberi variabel `panjang`. Pemberian nama `panjang` ini sementara doang, cuma dipake pas lagi nge-run fungsinya. 
- Input kedua, itu diberi variabel `lebar`.

Nantinya, si input pertama dan kedua ini dikalikan...jadilah object baru yang diberi variabel `luas`.

Setelah itu, dihitung `keliling`nya.

Akhirnya, fungsi ini menggunakan kata `return`. 

Artinya, setelah selesai menghitung, ada 2 object yang fungsi ini akan *kembalikan* ke kita, yaitu berupa luas, dan keliling.

In [51]:
luas_keliling(7,3)

(21, 20)

Artinya, untuk persegi panjang yang panjangnya 7 dan lebarnya 3, luasnya 21, lebarnya 20.

Ingat posisinya! panjang itu input pertama, lebar itu input kedua.

Pas di-return, yang pertama itu luas, baru keliling!

Gimana cara kita 'nyimpen' value yang di-return?

In [52]:
jawaban_l, jawaban_k = luas_keliling(7, 4)

In [34]:
print(jawaban_l)
print(jawaban_k)

28
22

Ga mau nyimpen value ah, maunya ngeprint aja. Gimana dong? 

Bisa!

In [53]:
def luas_keliling(panjang, lebar):
    luas = panjang * lebar
    keliling = 2*(panjang+lebar)
    
    print('Luas persegi panjang:', luas)
    print('Keliling persegi panjang:', keliling)

In [54]:
luas_keliling(7, 3)

Luas persegi panjang: 21
Keliling persegi panjang: 20

Tapi konsekuensinya, ya nilai '21' dan '20' ini nggak disimpen dimana pun. Cuma di print doang.

Kalo mau disimpen dan diprint gimana?

In [55]:
def luas_keliling(panjang, lebar):
    luas = panjang * lebar
    keliling = 2*(panjang+lebar)
    
    print('Luas persegi panjang:', luas)
    print('Keliling persegi panjang:', keliling)
    
    return luas, keliling

In [56]:
jawaban_luas, jawaban_keliling = luas_keliling(9,4)

Luas persegi panjang: 36
Keliling persegi panjang: 26

In [39]:
print(jawaban_luas)

36

Fungsi yang lengkap

In [57]:
a = 1
b = 2

In [59]:
def luas_keliling(panjang, lebar):
    """
    Fungsi ini menerima dua input, yaitu panjang dan lebar.
    Jika panjang lebih pendek daripada lebar, maka kedua nilai tersebut akan saling ditukar.
    Setelah itu, luas dan keliling persegi panjang akan dihitung.
    Pada akhirnya, nilai luas dan keliling akan diprint, dan direturn, dengan urutan luas dulu baru keliling.
    """    
    
    if panjang < lebar: 
        lebar, panjang = panjang, lebar
        print('Waduh! Kok panjang lebih pendek daripada lebar. Kita switch ya!')
    else:
        pass
        
    luas = panjang * lebar
    keliling = 2*(panjang + lebar)
    
    print(f'Luas persegi panjang yang memiliki panjang {panjang} dan lebar {lebar} adalah {luas}')
    print(f'Keliling persegi panjang yang memiliki panjang {panjang} dan lebar {lebar} adalah {keliling}')
    
    return luas, keliling

In [60]:
luas_pp, keliling_pp = luas_keliling(3, 5)

Waduh! Kok panjang lebih pendek daripada lebar. Kita switch ya!
Luas persegi panjang yang memiliki panjang 5 dan lebar 3 adalah 15
Keliling persegi panjang yang memiliki panjang 5 dan lebar 3 adalah 16

In [48]:
luas_pp, keliling_pp = luas_keliling(8, 5)

Luas persegi panjang yang memiliki panjang 8 dan lebar 5 adalah 40
Keliling persegi panjang yang memiliki panjang 8 dan lebar 5 adalah 26

In [65]:
def fungsi_banyak_input(input_1, input_2, input_3, input_4, input_5, input_6):
    return input_6, input_5, input_4, input_3, input_2, input_1

In [66]:
fungsi_banyak_input(1,2,3,4,5,6)

(6, 5, 4, 3, 2, 1)

In [69]:
nilai = 100
print(f'Nilai ulangan akhir saya adalah {nilai} maka saya sangat senang')

Nilai ulangan akhir saya adalah 100 maka saya sangat senang

Oke. Kita selesai dengan 'function'.

Kalo gitu 'method' apa?

Method itu mirip seperti function, tapi 'terikat' sama object.

Method adalah function yang tergantung sama object. Bedanya apa dong? Pas kita manggil sebuah method, biasanya letaknya dia adalah setelah tanda titik di sebelah kanan object. Maksudnya apa si? Gini...

In [70]:
list_contoh = [1,2,3,4,5,6]

Kita tambahin ya angka 8 ke list contoh itu?

In [71]:
list_contoh.append(8)

In [72]:
list_contoh

[1, 2, 3, 4, 5, 6, 8]

Nah, append ini adalah `method`.

Append ini merupakan `method` khusus buat object-object yang tipenya itu `list`.

In [73]:
himpunan_baru = {1,2,3,4,5}

In [74]:
himpunan_baru.append(6)

AttributeError: 'set' object has no attribute 'append'

Error kan?

In [54]:
himpunan_baru.add(6)

In [55]:
himpunan_baru

{1, 2, 3, 4, 5, 6}

Harus .add kalo buat nambahin sesuatu ke `set`, ga bisa append.

Kita bisa ngebuat method baru, tapi ya untuk hal itu, kita harus membuat object baru, dan itu merupakan materi yang dinamakan 'Object Oriented Programming'. Next time!

### Looping

Looping is a way to do a process over and over again until a certain condition is fulfilled.

In [79]:
## This looping prints all members of a list
list_loop = ['Aldo', 'Budi', 'Cindy', 'Dilan']

for name in list_loop:
    print('Nama peserta:', name)

Nama peserta: Aldo
Nama peserta: Budi
Nama peserta: Cindy
Nama peserta: Dilan

In [37]:
print('Nama peserta:', list_loop[0])
print('Nama peserta:', list_loop[1])
print('Nama peserta:', list_loop[2])

Nama peserta: Aldo
Nama peserta: Budi
Nama peserta: Cindy

In [86]:
list_loop = [1,2,3,4,5,6,7,8]
for x in list_loop:
    print(x)

1
2
3
4
5
6
7
8

In [88]:
nama = 'Abc'

for i in range(7):
    print(nama)

Abc
Abc
Abc
Abc
Abc
Abc
Abc

In [87]:
a = 0

kelipatan_angka_apa = int(input('Mau angka berapa yang ditulis kelipatannya? '))
berapa_kali = int(input(f'Berapa kelipatan {kelipatan_angka_apa} yang diinginkan? '))

for i in range(berapa_kali):
    a = a + kelipatan_angka_apa
    print(a)

Mau angka berapa yang ditulis kelipatannya? 11
Berapa kelipatan 11 yang diinginkan? 5
11
22
33
44
55

### If Else

If Else usage is similar to how you would usually use If Else in Excel.

In [93]:
score = 90
cheat = False

if (score < 70) or (cheat == True):
    print('You need to retake the class.')
elif score < 85:
    print('Great! You passed.')
elif score < 90:
    print('Great! You get a B+')
else:
    print('Congratulations! You get an A!')

Congratulations! You get an A!

### Last Material: String and Indexing in Python (bridging to R)

Strings are text data. In reality, it does not only contain letters, but also symbols we usually use in texts, such as '-', '!', and even the white space between two words.

In [113]:
teks = 'abcdkjdhfgkshrioltef'

In [121]:
teks[3:11]

'dkjdhfgk'

In [120]:
teks[-5:-1]

'olte'

In [66]:
text = 'This is a sentence'

In [68]:
print(text[0])
print(text[1])
print(text[2])
print(text[3])
print(text[4])
print(text[5])

T
h
i
s

i

We can use negative number to spell our string from the last letter!

In [69]:
print(text[-1])
print(text[-2])

e
c

In [72]:
text_1 = 'Coding with Python'
text_2 = 'Belajar coding dengan dibimbing'

We also can split a sentence into words.

In [123]:
text = 'This is a sentence'

In [124]:
text.split(' ')

['This', 'is', 'a', 'sentence']

In [125]:
text_3 = 'Coding-dengan-Python'
text_3.split('-')

['Coding', 'dengan', 'Python']

In [109]:
list_baru = ['a','b','c']

In [119]:
type('a')

str

In [122]:
x = 1
type(str(x))

str

In [126]:
a = 1

In [127]:
del a

In [128]:
a

NameError: name 'a' is not defined